{% load static%}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Invoice</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img style="height: 100px; width: 100px;" src="{% static 'images/Logo.png' %}" alt="">
                <h4><strong>Banshkhali National Hospital Pvt. Ltd. </strong></h4>
                <p>Address: Green Haider Complex, Chambol Bazar, Banskhali. Phone : 01819-624626, 01713-429668</p> 
                <h4><strong>INVOICE</strong></h4>
                <p>Invoice# {{ bill.id }}</p>
          
            </div>
            <div class="col-md-4 text-end">
                <p>BNHL</p>
                <p><strong><p>Date: {{ bill.date_create | date:"d-M-y" }}</strong></p>
                
                <p>Patient: {{ bill.patient.name }}</p>
                <p>Address: {{ bill.patient.village }}</p>
                <p>Phone: {{bill.patient.mobile}}</p>
                <p>Doctor: {{ bill.patient.doctor }}</p>
                
               
               
            </div>
        </div>
        <table class="table table-bordered" style="line-height: 0.5; font-size: 15px;">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in bill.itemcount_set.all %}
                <tr>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.item.rate }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-end">Subtotal:</td>
                    <td>{{ bill.calculate_amount }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end">Service Charge:</td>
                    <td>{{ bill.serv_charge }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end">Discount:</td>
                    <td>{{ bill.discount }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end">VAT:</td>
                    <td>{{ bill.vat }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end">Grand Total:</td>
                    <td>{{ bill.grand_total }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end">Paid Amount:</td>
                    <td>{{ bill.paid }}</td>
        </table>
        <div class="row">
            <div class="col-md-4">
                <p><strong>Note: {{bill.note}}</strong></p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4"><hr style="width: 228%; margin-bottom: 0%;"><h6> Payment Received</h6> </div>
            <div class="col-md-4"><hr style="width: 0%; margin-bottom: 0%;"><h6 class="text-center">Accountant</h6></div>
            <div class="col-md-4"><hr style="width: 100%; margin-bottom: 0%;"><h6 class="text-end">Manager</h6></div>
            
            
            </div>
    </div>
</body>
</html>