{% extends 'base.html' %}
{%block content%}

<div class="container mt-5">
    <h2>Filter Bill Payments</h2>

    <form method="get" class="mb-3">
        <div class="row">
            <div class="col-md-3">
                <label for="start_date" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="start_date" name="start_date" required>
            </div>
            <div class="col-md-3">
                <label for="end_date" class="form-label">End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date" required>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary mt-4">Filter</button>
            </div>
        </div>
    </form>
  
        <button class="btn btn-warning mt-4" onclick="printSummary()">Print</button>
    <div id="printableArea">
    <h4>From <strong>{{start_date}}</strong>  to <strong>{{end_date}}</strong></h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Bill ID</th>
                <th>Date</th>
                <th>Sub-Total</th>
                <th>Discount</th>
                <th>Gross Total</th>
                <th>Paid Amount</th>
                <th>Due </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in bills %}
                <tr>
                    <td class="bil_id">{{ item.bill.id }}</td>
                    <td  >{{ item.bill.date_create }}</td>
                    <td class="sub_total">{{ item.bill.sub_total}}</td>
                    <td class="discount">{{ item.bill.discount }}</td>
                    <td class="grand_total">{{ item.bill.grand_total }}</td>
                    <td class="amount">{{ item.paid_amount }}</td>
                    <td class="due_amount">{{ item.bill.due_amount }}</td>
                </tr>
                {% endfor %}
           
        </tbody>
    </table>
    </div>
    

</div>
{%block jsscript%}
<script>
    function printSummary() {
        window.print()
    }
</script>


{%endblock jsscript%}
{%endblock %}
