{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h2>Create a Bill</h2>
    <form method="post">
        {% csrf_token %}
        <!-- Bill Form Started -->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Service Charge</span>
                    </div>
                    {{form.serv_charge}}
                  </div>
        
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">VAT</span>
                    </div>
                    {{form.vat}}
                  </div>
        
                <div class="input-group mb-3 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Discount</span>
                    </div>
                    {{form.discount}}
                  </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Deposit</span>
                    </div>
                    {{form.paid}}
                  </div>
            </div>
        </div>
        <!-- Bill Form Ended -->
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock content %}